h1 {
    color: #243952;

}
a {
    color: #243952;
    height: 100%;
}

a:hover {
    color: #000;
    text-decoration-line: none;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

p {
    text-align: left;
}

.contenedor2 {
    width: 92%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.contenedor2 > .crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 180px;
    width: 220px;
}

.new-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: bottom; /* Center the image within the element */
    height: 350px;
    width: 100%;
}

.last-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 50%;
    width: 100%;
}


.etiqueta {
    background-color: #00394c; /* Green */
    border: none;
    color: white;
    padding: .4em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 10%;
}

.hr-tags {
    margin: -10px;
    border: 0;
    height: 1px;
    background: #00394c;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.17) 86%, #00394c 14%);
}

.hr-more {
    border: 0;
    height: 1px;
    background: #00394c;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.17) 93%, #00394c 7%);
}

.shine {
    height: 10px;
    width: 60%;
    background-image: radial-gradient(
            farthest-side at 50% -50%,
            hsla(0, 0%, 0%, 0.3),
            hsla(0, 0%, 0%, 0));
    position: relative;
}

.txt-overflow {
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height:400px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}
.txt-overflow::before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 150px, white);
}


.ol-blog {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ol-blog .li-blog {
    counter-increment: my-awesome-counter;
    display: flex;
    margin-top: 1rem;
}

.ol-blog .li-blog::before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 2.5rem;
    line-height: 1;
    color: rgba(38, 69, 99, 0.25);
}

.img-container {
    width: 100%;
    height: 200px;
}

.child-img {
    position: relative;
    margin: 0 auto;
    background-size: cover;
    max-width: 768px;
    width: 100%;
    height: 100%;
}
