.btn-add-new{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px;
    font-size: 20px;
    background: linear-gradient(90deg, #89009c, #4d45a7);
    transition-timing-function: ease-in-out;
    transition: 2000ms;
    margin: 10px auto;
}
.btn-add-new:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #a100b5, #534bc9);

}
.form-registry{
    background-color: white;
    border-radius: 25px;
    box-shadow: 6px 10px 5px -4px rgba(91, 91, 91, 0.38);
    padding: 25px;
}


.btn-registry{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px 55px 7px 55px;
    font-size: 20px;
    background: linear-gradient(90deg, #00aa69, #0018a7);
    box-shadow: 6px 10px 5px -4px rgba(91, 91, 91, 0.38);
    transition-duration: 2000ms;
    margin: 10px auto;
}
.btn-registry:hover{
    cursor: pointer;

    background: linear-gradient(90deg, #32aa7a, #0048c1);
}
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
/*dropzone*/
.dz-preview .dz-image-preview{
    width: 100%;
    height: 150px;
    margin: auto;
}
.dropzone .dz-preview .dz-image {
    width: 100%;
    height: 150px;
    margin: auto;
}
.dropzone-file-area img{
    width: 100%;
    height: 150px;
    margin: auto;
}
textarea {
    resize: none;
}

