/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main {
    display: block;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

header {
    height: 48px;
    overflow: hidden;
    background-color: #009900;
}

header h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 28px;
    line-height: 48px;
    margin-left: 15px;
    float: left;
}

header nav ul {
    display: none;
}

.btn-menu {
    display: block;
    float: right;
    margin-top: 13px;
    margin-bottom: 2px;
    margin-right: 13px;
    border: 0;
    width: 40px;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
    display: block;
    position: relative;
}

.btn-menu:focus {
    outline: 1px dotted #E0AE19;
}

.show_menu .btn-menu:focus {
    outline: none;
}

.btn-menu .text {
    display: block;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
}

.btn-menu .bar,
.btn-menu .bar:before,
.btn-menu .bar:after {
    display: block;
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-menu .bar {
    top: 10px;
    left: 0;
}

.btn-menu .bar:before {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
}

.btn-menu .bar:after {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
}

.show .btn-menu .bar {
    background-color: transparent;
}

.show .btn-menu .bar:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.show .btn-menu .bar:after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobile-nav {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #009900;
    border: 1px solid #005500;
    border-top: none;
    border-bottom: none;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

.mobile-nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-indent: 10px;
    display: block;
    line-height: 42px;
    border-bottom: 1px solid #005500;
}

.mobile-nav a:focus,
.mobile-nav a:hover,
.mobile-nav a:active {
    background-color: #004301;
}

.mobile-nav li:first-child a {
    border-top: 1px solid #005500;
}

.show .mobile-nav {
    height: auto;
}

.mobile-nav .dd + ul {
    height: 0;
    overflow: hidden;
    background-color: #093CB3;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

.mobile-nav .dd + ul a {
    text-indent: 30px;
}

.mobile-nav .dd + ul a:focus,
.mobile-nav .dd + ul a:hover,
.mobile-nav .dd + ul a:active {
    background-color: #001E66;
}

.mobile-nav .dd:after {
    content: '\25BC';
    margin-left: 5px;
    font-size: 12px;
}

.mobile-nav .dd-show + ul {
    height: auto;
}

main {
    padding: 15px;
    position: relative;
}

