body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.header{
    position: absolute;
    height: 44px;
    width: 100%;
    background-color: #FD9835;
    z-index: 4;
}
.side-nav{
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 100vh;
    background-color: #1B3444;
    padding-top: 44px;
}
.side-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-nav ul:hover{
    background-color: #27495F;
    cursor: pointer;
}
.side-nav ul li{
    padding: 20px 10px;
    border-left: 1px solid #333;
}
.side-nav ul li a{
    color: #fff;
    text-decoration: none;
}
.side-nav ul li i{
    color:#333;
    font-size: 21px;
}
.main-content{
    padding: 44px;
}
@media screen and (min-width: 600px){
    .side-nav{
        width: 50px;
    }
    .side-nav u li {
        text-align: center;
    }
    .side-nav ul li span:nth-child(2){
        display: none;
    }
    .side-nav ul li{
        font-size: 28px;
    }
    .main-content{
        margin-left: 80px;
    }
}

@media screen and (min-width: 1000px){
    .side-nav{
        width: 300px;

    }
    .side-nav ul{
        margin-left: 20px;
    }
    .side-nav ul li{
        text-align: left;
    }
    .side-nav ul li span:nth-child(2){
        display: inline;
    }
    .side-nav ul li{
        font-size: 16px;
    }
    .main-content{
        margin-left: 200px;
    }
}

.fig figcaption{
    margin-top: -10px;
    margin-bottom: -10px;
    color:#fff;
    font-size: 18px;
}
.fig hr{
    background-color: rgba(209, 209, 209, 0.89);
    width: 60%;
}
.profil-pic{
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;
}

/*CARDS*/
.card{
    object-fit: cover;
    z-index: 5;
    overflow: hidden;
    color:white;
    padding: 10px 20px 10px 20px;
    transition: all 100ms ease-in-out;

}
.card-fa{
    color: rgba(255, 255, 255, 0.42);
    position: absolute;
    z-index: 0;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    transition: all 100ms ease-in-out;
}
.variable-card{
    text-align: left;
    font-size: 70px;
    margin-top: -20px;
    padding-right: 0px;
    margin-inside: 0;

}
.card:hover{
    cursor: pointer;
    filter: brightness(110%);
    padding: 10px 25px 10px 20px;
}
.card:hover .card-fa{
    cursor: pointer;
    color: #fff;
    font-size:102px;


}

.a-free:hover{
    color: blue;
    text-decoration: none; /* no underline */
}
.btn-log{
    font-size: 30px;
    width: 200px;
    border:none;
    background-color: #FFC000;
    color:black;
    border-radius: 25px;
    transition: all 100ms ease-in-out;
    text-align: center;
    margin:0 auto;
}
.btn-log:hover{
    cursor: pointer;
    font-size: 33px;

    color: blue;
    text-decoration: none; /* no underline */
}
.form_style{
    background-color: rgba(252, 255, 254, 0.74);
    padding: 50px;
    border-radius: 10px;
}
.btn-close{
    background: rgba(29, 100, 59, 0);
    border:1px solid #ce2923;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    transition: all 100ms ease-in-out;
}
.btn-close:hover{
    background: rgb(201, 14, 0);
    border:1px solid #CB4E4E;
    cursor:pointer;
    color:#fff;
    font-size: 16.5px;
}
.add-img{
    background-color: #ffd500;border: none; padding: 10px; border-radius: 10px;color: #000;font-size: 20px;
    margin:0 auto;
    transition: all 100ms ease-in-out;
}
.add-img:hover{
    background-color: #fff400;border: none; padding: 10.5px; font-size: 20.3px;
}
.img-temp{
    height: 225px;
    background-color: #e6deff;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 25px;
}
.img-temp div{
    margin: 90px auto 0 auto;
    color: #b6b6b6;
}
.save-book{
    text-align: center;
    background-color: #0ea632;border: none; padding: 10px; border-radius: 10px;color: #f9f6ff;font-size: 20px;
    width: 50%;
    margin:0 auto 0 auto;
    transition: all 100ms ease-in-out;
}
.save-book:hover{
    background-color: #24be43;
    font-size: 21px;
}
.must_{
    border: solid #ed4850 1px;
}
.add_btn_txt{
    background-color: #ffee46;
    border-radius: 7px;
    width: 20px;
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
}
.add_btn_txt:hover{
    background-color: #fffa63;
}
.fontsize20{
    font-size: 17px !important;
}
.btn_save_changes{
    border: none;
    background-color: #005994FF;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    padding: 5px 15px;
    float: right;
}
#btn_save_changes:hover{
    background-color: #0051FFFF;
}

/*from template.css*/
.remove{
    display:none;
}
#programming_container{
    border: 2px solid #003F5DFF; 
    border-radius: 12px;
    padding: 45px;
}
/*Ajusta la imagen en el div circular*/
.section_element{
    border: none;
    border-radius: 50%;
    background-color: #373e3e;;
    overflow: hidden;
    height: 43vh;
    width: 43vh !important;
    text-align: center;
    margin: 10px auto !important;
}
.section_element .el-cont{
    overflow: hidden;
    animation: 1s ease-in-out !important;
}
.img-element{
    object-fit: cover;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}
.btn-cont{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40%;
}
.btn_element{
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    padding: 3px 25px;
    text-align: center;
    width: 100%;
}
.btn_element:hover{
    cursor: auto;
    background-color: rgba(0,0,0,0.7);
}
.section_element .el-cont .img-element{
    animation: 1s ease-in-out !important;
}
.section_element:hover .el-cont .img-element{
    filter: brightness(0.6);
}
.title_section{
    margin: auto;
    text-align:center;
    width: 100%;
}
.title_section h2{
    color: #1d3b4f !important;
}
.title_section hr{
    width: 100%;
}
.hr-sec{
    border: solid 1px rgba(0,0,50,0.7) !important;;
    margin-top: -5px;
    width: 10% !important;;
}
.see-more{
    float: right;
}
.see-more a{
    color: #1d3b4f;
    font-size: 3vh;
}
.ind-section{
    overflow: hidden;
    background-color: #f2f4f7 !important;;
    margin: 12px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 9px 0px rgba(10,11,11,0.2);
}
.ind-section div{
    padding: 12px;
}
.ind-section div h2{
    color: #1d3b4f;
    font-weight: bold !important;
    margin-top: 5px;
}
.ind-section p{
    margin-left: 10px;
    font-weight: normal;
}
.ind-section img{
    width: 100%;
    height: auto;
    /*border-radius: 5px 5px 0 0;9*/
    transition-duration: 200ms;
}
.ind-section .img-box{
    width: 100% !important;
    overflow: hidden;
    padding: 0;
}
.ind-section:hover{
    cursor: pointer;
}
.ind-section:hover img{
    filter: brightness(1.2);
    transform: scale(1.05);
}
#sections-elementario{
    margin-top: 100px;
    margin-bottom: 100px;
}
.edit_section{
    background-color: #ed0;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: absolute;
    left: 55%;
    top:-1em;
    z-index: 1000;
    box-shadow: 3px 3px 4px 0px rgba(10,11,11,0.2);
    transition-duration: 100ms;
}
.edit_section:hover{
    color: #3985a9;
    box-shadow: 3px 3px 4px 0px rgba(31, 138, 213, 0.71);
    cursor: pointer;
}
.edit_section i{
    font-size: 5vh;
    position: absolute;
    left: 30%;
    top:20%;
}
.delete_section{
    background-color: #ee2a00;
    border-radius: 50%;
    color: #fff;
    width: 3em;
    height: 3em;
    position: absolute;
    left: 66%;
    top:4em;
    z-index: 1000;
    box-shadow: 3px 3px 4px 0px rgba(10,11,11,0.2);
    transition-duration: 100ms;
}
.delete_section:hover{
    width: 3.5em;
    height: 3.5em;
    top:3.9em;
    color: #fff;
    box-shadow: 3px 3px 4px 0px rgba(213, 134, 31, 0.71);
    cursor: pointer;
}
.delete_section i{
    font-size: 3.5vh;
    position: absolute;
    left: 30%;
    top:20%;
}
.edit_individual_section{
    display: none;
    background-color: #154fff;
    border-radius: 50%;
    color: #fff;
    width: 3em;
    height: 3em;
    position: absolute;
    left: 73%;
    top:8em;
    z-index: 1000;
    box-shadow: 3px 3px 4px 0px rgba(10,11,11,0.2);
    transition-duration: 100ms;
}
.edit_individual_section:hover{
    width: 3.3em;
    height: 3.3em;
    top:7.4em;
    color: #fff;
    box-shadow: 3px 3px 4px 0px rgba(0, 98, 246, 0.71);
    cursor: pointer;
}
.edit_individual_section i{
    font-size: 3.3vh;
    position: absolute;
    left: 27%;
    top:20%;
}
.btn-entry{
    font-size: 2.5vh;
    background: blue;
    background: linear-gradient(120deg, #0edafd 0%,#0013a3 100%);
    color: #fff;
    padding: 5px 25px;
    box-shadow: 3px 3px 4px 0px rgba(31, 172, 213, 0.71);
    float: right;
    margin-right: 10px;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
}
.btn-entry:hover{
    text-decoration: underline;
    box-shadow: 3px 3px 4px 0px rgba(110, 31, 213, 0.71);
    cursor: pointer;
    margin-right: 20px;
}
.entry-style{
    background-color: white;
    padding: 45px 25px;
    border: 3px solid #959fa799;
    border-radius: 15px 0 15px 0;
    box-shadow: 3px 3px 4px 0px rgba(102, 158, 175, 0.32);
}
.entry-style table{
    background-color: #f3f4f7 !important;
    border-radius: 5px 5px 0 0;
}
.container-section{
    width: 100%;
    background: #f5f8fa;
}
.container-section h3{
    width: max-content;
    background-color: #ffc206;
    color: #314260;
    border:solid 1px #b38a1b;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 12px;
    font-weight:bold;
}
.select-type{
    float: right;
    position: absolute;
    top: 105px;
    right: 110px;
}
.service-card{
    z-index: 100 !important;
    margin: 10px auto;
    background-color: #f7f7f7;
    text-align: center;
    border: 4px solid #b6cfb1;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.3);
    transition: 100ms;
}
.service-card:hover{
    box-shadow: 3px 3px 4px 0px rgba(29, 106, 153, 0.4);
    cursor:pointer;
    border: 4px solid #58a9aa;
    background-color: #fff;
}
.service-name{
    color: black;
    background-color: #e7e8dd;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    font-size: 2vw;
    width: 100%;
    text-align: center;
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


/*Buttons gradient style*/
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.hide{
    display: none;
}
.for-service{
    position: absolute !important;
    top: -7.8vh !important;
    left: 2vw;
    z-index: 0;
    border-radius: 5px 5px 0 0;
    font-size: 1vw !important;
    height: 30px !important;
    background-color: #58a9aa;
    color: white;
    transition: 200ms;
}
.for-service:hover{
    position: absolute !important;
    background-color: #adddb7;
    color: black;
}
.img-from-fa{
    font-size: 9vh;
    color: #829297;
}
.for-service-edit{
    position: absolute !important;
    top: 0;
    left: 18vw !important;
}
.for-service-edit:hover{
    position: absolute;
    top: -2px;
}
/*end*/
